table{
    border-collapse: collapse;
    border: solid 1px black;
    width: 100%;
}
th, td{
    border: solid 1px black;
    padding: 5px; 
    text-align: center;
}
tr:nth-child(2n){
    background-color: rgb(160, 145, 145);
}
img{
    width: 100%;
}
